*.o
log.txt
SPCBIR
SPCBIR_LOGGER_TESTS
SPCBIR_CONFIG_TESTS
SPCBIR_KD_ARRAY_TESTS
SPCBIR_KD_TREE_TESTS
SPCBIR_BPQUEUE_TESTS
SPCBIR_POINT_TESTS
FinalProject.pdf
.idea/
cmake-build-debug/
*.dSYM/
*.feats
pca.yml
images/images_profile
sp_logger_unit_test
stdout.log