  #   The following variables don’t have default values and must be set spImagesDirectory = ./images/
#this is a valid configuration file
spImagesPrefix=img
spImagesSuffix = .png
spNumOfImages =   17
spNumOfFeatures = 100
spExtractionMode = true
spMinimalGUI = false
spNumOfSimilarImages = 7
spLoggerFilename = stdout.log
spLoggerLevel = 2
spImagesDirectory = ../images/
