#this is a valid configuration file
#The following variables don’t have default values and must be set spImagesDirectory = ./images/
spImagesPrefix=img
spImagesSuffix = .png
spNumOfImages =   17
spNumOfFeatures = 100
spExtractionMode = true
spMinimalGUI = false
spNumOfSimilarImages = 3
spLoggerFilename = stdout
spLoggerLevel = 4
spImagesDirectory = ../images/
