# This is a comment line
#Another valid comment line
#####!!!! I can write anything I want!
  #   The following variables don’t have default values and must be set spImagesDirectory = ./images/
#this is a valid configuration file
spImagesPrefix=img
spImagesSuffix = .png
spNumOfImages =   17
spNumOfFeatures = 100
spExtractionMode = true
spMinimalGUI = false
spNumOfSimilarImages = 5
spLoggerFilename = stdout.log
spLoggerLevel = 2
spImagesDirectory = ./images/
